   <main class="site-content about">

<div class="container no-top-padding no-bottom-padding">
	<header class="page-header">
		<h1>About <i>us</i></h1>
	</header>
	<div class="row">
		<div class="col col-lg-3 col-md-3 col-sm-6 margin-bottom-sm text-center">
			<img src="/public/images/signature.png" width="450" height="800" alt="">
		</div>
		<div class="col col-lg-9 col-md-9 col-sm-6">
			<p class="lead">Imagine a world without boundaries, free of constraints. It’s a place to innovate, to discover, to create, to explore. Enter this world with your eyes wide open, with your ideas intact as you journey into the unknown. Dare to redefine the future.</p>
			<p>We are the Silicon Valley outpost of Airbus, a global leader in aviation and aerospace innovation. We believe that the future is created through episodic disruption with intervening periods of incremental innovation. Our mission is to build the future of flight now.</p>
      <p>We solve big problems by employing world-class experts and by developing fertile partnerships. Our projects are built on rigorous analysis, novel insights, and commitment to unreasonable goals.</p>
      <p>Exploration is unsettling, and only when we disrupt Airbus, its competitors, and the entire industry will we consider our goals achieved and our mission a success. Join us on our bold voyage.</p>
		</div>
	</div>
</div>
<div class="container">
	<header class="heading text-center">
		<p>Who we are</p>
		<h2>Our team</h2>
	</header>
	<div class="row">
		<div class="col col-lg-3 col-md-3">
			<div class="profile">
				<div class="profile-heading">
					<div class="profile-photo">
						<img src="/public/images/profile-photo-1.jpg" width="300" height="300" alt="">
					</div>
				</div>
				<div class="profile-inner">
					<h3>Rodin Lyasoff</h3>
					<h4>CEO</h4>
				</div>
			</div>
		</div>
		<div class="col col-lg-3 col-md-3">
			<div class="profile">
				<div class="profile-photo">
					<img src="/public/images/profile-photo-2.jpg" width="300" height="300" alt="">
				</div>
				<div class="profile-inner">
					<h3>Naresh Shah</h3>
					<h4>COO (ACTING)</h4>
				</div>
			</div>
		</div>
		<div class="col col-lg-3 col-md-3">
			<div class="profile">
				<div class="profile-photo">
					<img src="/public/images/profile-photo-3.jpg" width="300" height="300" alt="">
				</div>
				<div class="profile-inner">
					<h3>Rob Keele</h3>
					<h4>GENERAL COUNSEL (ACTING)</h4>
				</div>
			</div>
		</div>
		<div class="col col-lg-3 col-md-3">
			<div class="profile">
				<div class="profile-heading">
					<div class="profile-photo">
						<img src="/public/images/Theresa.jpg" width="300" height="300" alt="">
					</div>
				</div>
				<div class="profile-inner">
					<h3>Theresa Bruno</h3>
					<h4>VP OF OPERATIONS</h4>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col col-lg-3 col-md-3">
			<div class="profile">
				<div class="profile-photo">
					<img src="/public/images/profile-photo-4.jpg" width="300" height="300" alt="">
				</div>
				<div class="profile-inner">
					<h3>Jane Jackalope</h3>
					<h4>PROJECT EXECUTIVE</h4>
				</div>
			</div>
		</div>
		<div class="col col-lg-3 col-md-3">
			<div class="profile">
				<div class="profile-heading">
					<div class="profile-photo">
						<img src="/public/images/profile-photo-5.jpg" width="300" height="300" alt="">
					</div>
				</div>
				<div class="profile-inner">
					<h3>Zach Lovering</h3>
					<h4>PROJECT EXECUTIVE - VAHANA</h4>
				</div>
			</div>
		</div>
		<div class="col col-lg-3 col-md-3">
			<div class="profile">
				<div class="profile-photo">
					<img src="/public/images/profile-photo-6.jpg" width="300" height="300" alt="">
				</div>
				<div class="profile-inner">
          <h3>Uma Subramanian</h3>
					<h4>PROJECT EXECUTIVE - VOOM</h4>
				</div>
			</div>
		</div>
		<div class="col col-lg-3 col-md-3">
			<div class="profile">
				<div class="profile-photo">
					<img src="/public/images/profile-photo-7.jpg" width="300" height="300" alt="">
				</div>
				<div class="profile-inner">
					<h3>Karthik Balakrishnan</h3>
					<h4>PROJECT EXECUTIVE - ALTISCOPE</h4>
				</div>
			</div>
		</div>

	</div>
  <div class="row">
		<div class="col col-lg-3 col-md-3">
			<div class="profile">
				<div class="profile-photo">
					<img src="/public/images/profile-photo-8.jpg" width="300" height="300" alt="">
				</div>
				<div class="profile-inner">
					<h3>Travis Mason</h3>
					<h4>VP OF PUBLIC POLICY AND GOVERNMENT AFFAIRS</h4>
				</div>
			</div>
		</div>
		<div class="col col-lg-3 col-md-3">
			<div class="profile">
				<div class="profile-heading">
					<div class="profile-photo">
						<img src="/public/images/profile-photo-9.jpg" width="300" height="300" alt="">
					</div>
				</div>
				<div class="profile-inner">
					<h3>Zsolt Lattmann</h3>
          <h4>PROJECT EXECUTIVE - ADAM</h4>
				</div>
			</div>
		</div>
		<div class="col col-lg-3 col-md-3">
			<div class="profile">
				<div class="profile-photo">
					<img src="/public/images/profile-photo-10.jpg" width="300" height="300" alt="">
				</div>
				<div class="profile-inner">
					<h3>Arne Stoschek</h3>
					<h4>PROJECT EXECUTIVE</h4>
				</div>
			</div>
		</div>
		<div class="col col-lg-3 col-md-3">
			<div class="profile">
				<div class="profile-photo">
					<img src="/public/images/profile-photo-11.jpg" width="300" height="300" alt="">
				</div>
				<div class="profile-inner">
					<h3>Alex Sherbuck</h3>
					<h4>PROJECT EXECUTIVE</h4>
				</div>
			</div>
		</div>
		<div class="col col-lg-3 col-md-3">

		</div>
	</div>
</div>
</div>



        </main>
