
<div id="wrapper" class="wrapper currencyinfo">

<div id="USD" class="section-light">
<div class="container text-center">
<div class="row">
<header class="heading text-center">
<p><img src="/public/images/icon-donate.png" width="128" height="128" alt=""></p>
<h2>Donate USD</h2>
<p>Legacy Donations</p>
</header>
  <div class="col-lg-6 col-md-6 col-md-offset-3">

    Benefits of USD Donations

  </div>
</div>
<div class="row">
  <div class="container">

<div class="owl-carousel posts" data-slideshow-settings='{"responsive":{"0":{"items":1}, "767":{"items":2}, "992":{"items":2}, "1200":{"items":3}}, "margin":15, "dots":false, "autoplay": false}'>

<div class="post post-card">
<header class="post-header">
  <div class="post-thumb">
    <a href="/campaigns/1"><img src="public/images/cause-photo-1.jpg" width="800" height="600" alt=""></a>
  </div>
</header>
<div class="post-entry">
  <h3><a href="/campaigns/1">Airline Ambassadors</a></h3>
  <p>Airline Ambassadors provides for orphans and vulnerable children worldwide as well as relief and development to under-privileged communities worldwide.</p>
  <div class="text-center">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="business" value="alex.sherbuck@airbus-sv.com">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="item_name" value="I Gave">
      <input type="hidden" name="item_number" value="123">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="notify_url" value="http://acubedheritage.com/paypal/ipn">
      <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
      <div class="form-group">
        <label for="name">Amount</label>
        <input class="form-control amount" name="amount" value="10" step="1">
      </div>
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">

      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>
</div>

<div class="post post-card">
<header class="post-header">
  <div class="post-thumb">
    <a href="/campaigns/1"><img src="public/images/cause-photo-2.jpg" width="800" height="600" alt=""></a>
  </div>
</header>
<div class="post-entry">
  <h3><a href="/campaigns/1">The MADE</a></h3>
  <p>The Museum of Art and Digital Entertainment is Oakland’s Video Game Museum. The MADE hosts a free kids classes on Scratch, the programming education tool from MIT.</p>
  <div class="text-center">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="business" value="alex.sherbuck@airbus-sv.com">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="item_name" value="I Gave">
      <input type="hidden" name="item_number" value="123">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
      <div class="form-group">
        <label for="name">Amount</label>
        <input class="form-control amount" name="amount" value="10" step="1">
      </div>
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">

      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>
</div>

<div class="post post-card">
<header class="post-header">
  <div class="post-thumb">
    <a href="/campaigns/1"><img src="public/images/cause-photo-3.jpg" width="800" height="600" alt=""></a>
  </div>
</header>
<div class="post-entry">
  <h3><a href="/campaigns/1">HartSong Ranch</a></h3>
  <p>HartSong Ranch is an all-volunteer, non-profit organization. 100% of donations go to the care of the sanctuary animals, the pups of the UnderDOG Railroad and future rescue efforts.</p>
  <div class="text-center">
    <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_donations">
      <input type="hidden" name="business" value="alex.sherbuck@airbus-sv.com">
      <input type="hidden" name="lc" value="US">
      <input type="hidden" name="item_name" value="I Gave">
      <input type="hidden" name="item_number" value="123">
      <input type="hidden" name="currency_code" value="USD">
      <input type="hidden" name="no_note" value="0">
      <input type="hidden" name="bn" value="PP-DonationsBF:btn_donate_LG.gif:NonHostedGuest">
      <div class="form-group">
        <label for="name">Amount</label>
        <input class="form-control amount" name="amount" value="10" step="1">
      </div>
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">

      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
    </form>
  </div>
</div>
</div>

</div>

</div>

</div>
</div>
</div>

<div id="ETH" class="section">
<div class="container text-center">
<div class="row">
<header class="heading text-center">
<p><img src="/public/images/icon-volunteer.png" width="128" height="128" alt=""></p>
<h2>Donate ETH</h2>
<p>Cryptocurrency Donations</p>
</header>
  <div class="col-lg-6 col-md-6 col-md-offset-3">

    Benefits of Eth Donations

    ToDo: Donor choose amount token
    ToDo: API for Eth price to USD
    ToDo: Display Exchange Rate

  </div>
</div>
<div class="row">
  <div class="container">

<div class="owl-carousel posts" data-slideshow-settings='{"responsive":{"0":{"items":1}, "767":{"items":2}, "992":{"items":2}, "1200":{"items":3}}, "margin":15, "dots":false, "autoplay": false}'>

<div class="post post-card">
<header class="post-header">
  <div class="post-thumb">
    <a href="/campaigns/1"><img src="public/images/cause-photo-1.jpg" width="800" height="600" alt=""></a>
  </div>
</header>
<div class="post-entry">
  <h3><a href="/campaigns/1">Airline Ambassadors</a></h3>
  <p>Airline Ambassadors provides for orphans and vulnerable children worldwide as well as relief and development to under-privileged communities worldwide.</p>
  <div class="text-center">
    <form>
      <div class="form-group">
        <label for="name">Amount</label>
        <input class="form-control amount" name="amount" value="10" step="1">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary">Send ETH</button>
      </div>
    </form>
  </div>
</div>
</div>

<div class="post post-card">
<header class="post-header">
  <div class="post-thumb">
    <a href="/campaigns/1"><img src="public/images/cause-photo-2.jpg" width="800" height="600" alt=""></a>
  </div>
</header>
<div class="post-entry">
  <h3><a href="/campaigns/1">The MADE</a></h3>
  <p>The Museum of Art and Digital Entertainment is Oakland’s Video Game Museum. The MADE hosts a free kids classes on Scratch, the programming education tool from MIT.</p>
  <div class="text-center">
    <form>
      <div class="form-group">
        <label for="name">Amount</label>
        <input class="form-control amount" name="amount" value="10" step="1">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary">Send ETH</button>
      </div>
    </form>
  </div>
</div>
</div>

<div class="post post-card">
<header class="post-header">
  <div class="post-thumb">
    <a href="/campaigns/1"><img src="public/images/cause-photo-3.jpg" width="800" height="600" alt=""></a>
  </div>
</header>
<div class="post-entry">
  <h3><a href="/campaigns/1">HartSong Ranch</a></h3>
  <p>HartSong Ranch is an all-volunteer, non-profit organization. 100% of donations go to the care of the sanctuary animals, the pups of the UnderDOG Railroad and future rescue efforts.</p>
  <div class="text-center">
    <form>
      <div class="form-group">
        <label for="name">Amount</label>
        <input class="form-control amount" name="amount" value=".02">
      </div>
      <div class="form-group">
        <button type="submit" class="btn btn-lg btn-primary">Send ETH</button>
      </div>
    </form>
  </div>
</div>
</div>

</div>

</div>

</div>
</div>
</div>

</div>
</main>