
<div id="wrapper" class="wrapper pending">

<!-- BEGIN MAIN CONTENT -->
<main class="site-content">
  <div class="container no-donations">
    <header class="heading text-center">
      <p>
        <img src="/public/images/icon-volunteer.png" width="128" height="128" alt="">
      </p>
      <p>Transaction Pending</p>
      <h2>We've sent you 10 test Ether</h2>
    </header>
    <p class="text-center">It may take 15-30 seconds for the test network to process this transaction.</p>
  </div>
</main>
    <!-- END MAIN CONTENT -->
</div>
