<main class="site-content guide">
<section class="main-content">
<div class="container no-top-padding no-bottom-padding">
	<header class="page-header heading text-center">
		<p>Read the Manual</p>
		<h2>Guide</h2>
	</header>
	<div class="row">
		<div class="col-12">
			<header class="page-header heading text-center sub-header">
				<p>#1</p>
				<h2>Install MetaMask</h2>
			</header>
		</div>
	</div>
	<div class="row">
		<div class="col-12 text-center">
			<iframe class="site-content-iframe" width="560" height="315" src="https://www.youtube.com/embed/6Gf_kRE4MJU" frameborder="0" allow="autoplay; encrypted-media"
			 allowfullscreen></iframe>
		</div>
	</div>
	<div class="row">
		<div class="col col-lg-3 col-md-3 col-sm-6 margin-bottom-sm text-center">

		</div>
		<div class="col col-lg-6 col-md-6 col-sm-6 justified">
			<p>MetaMask is a bridge that allows you to run Ethereum dApps right in your browser without running a full Ethereum node. MetaMask includes a secure identity vault, providing a user interface to manage your identities on different sites and sign blockchain transactions.</p>
      <p>You can install the MetaMask add-on in <a href="https://chrome.google.com/webstore/detail/metamask/nkbihfbeogaeaoehlefnkodbefgpgknn" target="_blank">Chrome</a>, <a href="https://addons.mozilla.org/en-US/firefox/addon/ether-metamask/" target="_blank">Firefox</a>, <a href="https://addons.opera.com/en/extensions/details/metamask/" target="_blank">Opera</a>, and the new <a href="https://brave.com/" target="_blank">Brave browser</a>.</p>
		</div>
		<div class="col col-lg-3 col-md-3 col-sm-6 margin-bottom-sm text-center">

		</div>
	</div>
</div>
</section>
<section class="main-content dark">
	<div class="container no-top-padding no-bottom-padding">
		<div class="row">
			<div class="col-12">
				<header class="page-header heading text-center sub-header">
					<p>#2</p>
					<h2>Connect to Testnet</h2>
				</header>
			</div>
		</div>
		<div class="row">
			<div class="col col-lg-4 col-md-4 col-sm-12">
				<p class="lead">
					<b>Click the MetaMask Icon</b>
				</p>
				<img src="/public/images/metamask1.png">
			</div>
			<div class="col col-lg-4 col-md-4 col-sm-12">
				<p class="lead">
					<b>Click 'Main Network'</b>
				</p>
				<img src="/public/images/metamask2.png">
			</div>
			<div class="col col-lg-4 col-md-4 col-sm-12">
				<p class="lead">
					<b>Click 'Custom RPC'</b>
				</p>
				<img src="/public/images/metamask3.png">
			</div>
		</div>
	</div>
</section>
<section class="main-content dark">
	<div class="container no-top-padding no-bottom-padding">
		<div class="row">
			<div class="col-12">
				<p class="lead">
					<b>Save 'http://144.202.123.40:9546'</b>
				</p>
			</div>
		</div>
		<div class="row">
			<div class="col col-lg-4 col-md-4 col-sm-12">

			</div>
			<div class="col col-lg-4 col-md-4 col-sm-12">
				<img src="/public/images/metamask4.png">
			</div>
			<div class="col col-lg-4 col-md-4 col-sm-12">

			</div>
		</div>
	</div>
</section>
<section class="main-content">
	<div class="container no-top-padding no-bottom-padding">
		<div class="row">
			<div class="col-12">
				<header class="page-header heading text-center sub-header">
					<p>#3</p>
					<h2>Check Your Work</h2>
				</header>
			</div>
		</div>
		<div class="row">
			<div class="col col-lg-4 col-md-4 col-sm-12 text-centered">
				<p class="lead">
					<b>Check MetaMask</b>
				</p>
				<button class="btn btn-primary btn-check-metamask">Check MetaMask</button>
				<p></p>
				<p class="mm-exists">Web3 Exists</p>
				<p class="mm-not-exists">Web3 Not Found, Install Metamask</p>
				<p class="mm-connected">MetaMask Connected</p>
				<p class="mm-disconnected">MetaMask Disconnected</p>
			</div>
			<div class="col col-lg-4 col-md-4 col-sm-12 text-centered">
				<p class="lead">
					<b>Check Testnet</b>
				</p>
				<button class="btn btn-primary btn-check-testnet">Check Testnet</button>
				<p class="tn-connected">Connected to Testnet</p>
				<p class="tn-disconnected">Not Connected to Testnet</p>
			</div>
			<div class="col col-lg-4 col-md-4 col-sm-12 text-centered">
				<p class="lead">
					<b>Check dApp</b>
				</p>
				<button class="btn btn-primary btn-check-dapp">Check dApp</button>
				<p class="contract-found">Heritage dApp Found, good to go.</p>
				<p class="contract-missing">Heritage not found</p>
			</div>
		</div>
	</div>
</section>
<section class="main-content dark">
	<div class="container no-top-padding no-bottom-padding">
		<div class="row">
			<div class="col-12">
				<header class="page-header heading text-center sub-header">
					<p>#4</p>
					<h2>Testnet Crypto Faucet</h2>
				</header>
				<p class="faucet-sent"></p>
			</div>
		</div>
		<div class="row">
			<div class="col-12 text-centered">
				<button class="btn btn-primary btn-faucet">Get Crypto</button>
				</br>
				<img class="meta-img" src="/public/images/metamask.png">
			</div>
		</div>
	</div>
</section>

</main>