
<div id="wrapper" class="wrapper my-donations">

<!-- BEGIN MAIN CONTENT -->
<main class="site-content my-donations">
  <div class="container no-donations">
    <header class="heading text-center">
      <h2>You have no donations</h2>
    </header>
  </div>
  <div class="container donations donations-box">
    <header class="heading text-center">
      <h2>Your donations</h2>
    </header>
  </div>
</main>
    <!-- END MAIN CONTENT -->
</div>
