
<div id="wrapper" class="wrapper pending">

<!-- BEGIN MAIN CONTENT -->
<main class="site-content">
  <div class="container no-donations">
    <header class="heading text-center">
      <p>
        <img src="/public/images/icon-volunteer.png" width="128" height="128" alt="">
      </p>
      <p>Transaction Pending</p>
      <h2>Thank you</h2>
    </header>
    <p class="text-center">It may take 15-30 seconds for the Ethereum network to process this transaction.</p>
    <p class="text-center"><img src="/public/images/MetaMaskPendingTx.png" alt=""></p>
    <p class="text-center">Afterward, your donation will appear under the 'YOUR DONATIONS' tab.</p>
  </div>
</main>
    <!-- END MAIN CONTENT -->
</div>
