
<div id="wrapper" class="wrapper pending">

<!-- BEGIN MAIN CONTENT -->
<main class="site-content">
  <div class="container no-donations">
    <header class="heading text-center">
      <p>
        <img src="/public/images/icon-volunteer.png" width="128" height="128" alt="">
      </p>
      <p>Sorry</p>
      <h2>We've already sent you 10 test Ether</h2>
    </header>
    <p class="text-center">Only 10 test Ether per email address.</p>
  </div>
</main>
    <!-- END MAIN CONTENT -->
</div>
