.charities-landing {
  .about-us {
    p {
      color: #000;
      text-align: justify;
    }
  }

.justified {
  padding: 3rem;
  text-align: justify;
  p {
    text-align: justify;
  }
}

.form-control {
      &.amount {
        text-align: center;
        font-size: 8rem;
        padding: 6rem 0rem 6rem 0rem;
        margin: 0 auto;
        width: 60%;
      }
    }

.crypto-section {
  display: none;
}

.slideshow-hartsong-1 {
  .slideshow-item-bg {
    background-image: url(../images/hartsong/1.jpg);
  }
}

.slideshow-hartsong-2 {
  .slideshow-item-bg {
    background-image: url(../images/hartsong/2.jpg);
  }
}

.slideshow-hartsong-3 {
  .slideshow-item-bg {
    background-image: url(../images/hartsong/5.jpg);
  }
}

.slideshow-hartsong-4 {
  .slideshow-item-bg {
    background-image: url(../images/hartsong/4.jpg);
  }
}

.slideshow-hartsong-5 {
  .slideshow-item-bg {
    background-image: url(../images/hartsong/3.jpg);
  }
}


.slideshow-made-1 {
  .slideshow-item-bg {
    background-image: url(../images/made/1.jpg);
  }
}

.slideshow-made-2 {
  .slideshow-item-bg {
    background-image: url(../images/made/2.jpg);
  }
}

.slideshow-made-3 {
  .slideshow-item-bg {
    background-image: url(../images/made/3.jpg);
  }
}

.slideshow-made-4 {
  .slideshow-item-bg {
    background-image: url(../images/made/4.jpg);
  }
}

.slideshow-made-5 {
  .slideshow-item-bg {
    background-image: url(../images/made/5.jpg);
  }
}

.slideshow-ambassadors-1 {
  .slideshow-item-bg {
    background-image: url(../images/ambassadors/1.jpg);
  }
}

.slideshow-ambassadors-2 {
  .slideshow-item-bg {
    background-image: url(../images/ambassadors/2.jpg);
  }
}

.slideshow-ambassadors-3 {
  .slideshow-item-bg {
    background-image: url(../images/ambassadors/3.jpg);
  }
}

.slideshow-ambassadors-4 {
  .slideshow-item-bg {
    background-image: url(../images/ambassadors/4.jpg);
  }
}

.slideshow-ambassadors-5 {
  .slideshow-item-bg {
    background-image: url(../images/ambassadors/5.jpg);
  }
}


}
