#Login {
  background-image: url("../images/login-background.png");
  background-size: cover;

  .login {
    margin-top: 4rem;
    text-align:center;

    button {
      margin-top: 4rem;
    }
  }
}


