.statistics {
  .owner {
    font-size: 1.2rem;
    text-align: center;
  }
  .donated {
    text-align: center;
  }
  .campaign-balance {
    font-size: 4rem;
    color: #000;
  }
  .campaign-row {
    margin-top: 4rem;
  }
  .campaign-subtitle {
    margin-top: 2rem;
  }
}